<html>
    <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' )}} />
    <center>
    <body>
        <h1>
            {{songName}}
        </h1>
        <h2>
            By: {{artistName}}
        </h2>
        <img src= {{songImage}} />
        {% if songURL|string() == 'None' %}  <! cast songURL to string --> 
            <h3> <a href={{albumLink}} target="_blank">Check out the album!</a> </h3>
        {% else %}
            <br>
            <br>
            <audio controls src={{songURL}}>
            </audio>
        {% endif %}
    </body>
    </center>
</html>